/* =========================
   Content
   ========================= */

article {
  margin-top: 0rem;
}

figure {
  margin: 0rem;
}

.content {
  margin-top: 2rem;
}

/* =========================
   Metadata Blocks
   ========================= */

article ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

article li {
  display: flex;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.WIP {
  background-color: var(--color-accent);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.WIP a {
  color: var(--color-border)
}
