/* =========================
   Contact
   ========================= */

.contact-grid {
    max-width: var(--max-width);
    margin: 0 auto;
}

.contact-grid-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 700px){
    .contact-grid-items {
        grid-template-columns: 1fr 1fr;
    }
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    background-color: var(--color-accent);
    border: 1px solid var(--color-border);
    padding: 1rem;

    width: 100%;
    max-width: none;
    box-sizing: border-box;
}

.contact-item-img {
    display: block;
    width: 100px;
    height: 100px;
}

.contact-item-img img {
    display: block;
    width: 100%;
    height: auto;
}

.contact-item-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-item-text h3 {
    color: var(--color-border);
}

.contact-item-text p {
    color: var(--color-text);
}

.contact-item-link {
    display: block;
    color: --inherit;
    text-decoration: none;
}