/* =========================
   Layout
   ========================= */

header {
  background-color: var(--color-accent);
  padding: 1rem;
}

.site-header {
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1100px;
}

.nav {
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.logo-icon {
  width: 90px;
  height: 90px;
}

.logo-icon img {
  display: block;
  width: 100%;
  height: auto;
}

.logo-text {
  display: flex;
  padding-top: 0.5rem;
  color: var(--color-border);
}

.logo-text h1 {
  font-size: 2.8rem;
  font-style: italic;
}

header a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-text);
}

header a:hover {
  text-decoration: underline;
}

main {
  max-width: 1100px;
  padding-top: 0rem;
  margin: 0 auto;
}

footer {
  max-width: 1100px;
  padding-top: 1rem;
  margin: 0 auto;
  display: flex;
  font-size: 0.875rem;
  color: var(--color-text);
  justify-content: center;
}

section {
  margin-top: 0;
}