/* =========================
   Layout
   ========================= */

header {
  max-width: 1100px;
  padding-top: 1rem;
  margin: 0 auto;
}

main {
  max-width: 1100px;
  padding-top: 0rem;
  margin: 0 auto;
}

footer {
  max-width: 1100px;
  padding-top: 1rem;
  margin: 0 auto;
}

header nav {
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: var(--color-text);
}

header a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  font-size: 0.875rem;
  color: var(--color-text);
  justify-content: center;
}
