/* =========================
   Project Pages
   ========================= */

.project-header {
  margin-bottom: 2rem;
}

/* =========================
   Content Blocks
   ========================= */

.project-content > * {
  margin-bottom: 0rem;
}

.project-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text image";
  gap: 1rem;
  align-items: start;
  place-items: center;
  max-width: var(--max-width);
}

.project-section.reverse {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image text";
}

.project-section-text {
  grid-area: text;
  margin: 0;
}

.project-section-image {
  grid-area: image;
  margin: 0;
}

.project-section-image img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  border: 2px solid var(--color-border);
  background: var(--color-bg);
}

.project-section-caption {
  color: var(--color-text);
  font-size: 12px;
}

/* =========================
   Image Blocks
   ========================= */

.project-image{
  max-width: var(--max-width);
  margin: 1rem 0;
}

.project-image img{
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid var(--color-border);
  background: var(--color-bg);
  margin: 2rem 0;
}

.project-image p {
  margin: 0;
  padding: 0;
  max-width: none;
}

/* Mobile */
@media (max-width: 800px) {
  .project-section {
    grid-template-columns: 1fr;
  }
}
