/* =========================
   Section Page Styles
   ========================= */

.section-header {
    background-color: var(--color-bg);
}

.section-title {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0rem;
}

.section-subtitle {
    text-align: center;
    padding: 1rem 0;
}

.section-content {
    margin: 0 auto;
}

.section-list {
    display: grid;
    grid-template-columns: 1fr;
    width: var(--max-width);
    margin: 0 auto;
}

.section-list li {
    list-style: none;
    border-bottom: 1px solid var(--color-border);
    padding: 1rem 0;
}

.section-list li:last-child {
    list-style: none;
    border-bottom: none;
}

.section-list-link {
    color: inherit;
    text-decoration: none;
}

.section-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--color-muted);
}

.sli-img {
    display: block;
    width: 160px;
    height: 160px;
    align-content: center;
}

.sli-img img {
    display: block;
    width: 100%;
    height: auto;
}

.sli-text {
    display: flex;
    flex-direction: column;
}

.sli-text h3 {
    display: block;
    color: var(--color-border);
    text-decoration: none;
    font-size: 1.4rem;
}

.sli-text p {
    display: block;
    color: var(--color-text);
    text-decoration: none;
}

.sli-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.sli-tags p {
    color: var(--color-border);
    font-style: italic;
}