/* =========================
   Typography
   ========================= */

h1,
h2,
h3 {
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

p {
  max-width: var(--max-width);
  padding: 0;
}

ul {
  max-width: var(--max-width);
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.5rem;
}
