/* =========================
   Global Reset & Variables
   ========================= */

:root {
  --max-width: 1100px;
  --line-height: 1.6;

  --color-text: #f5fbef;
  --color-muted: #051919;
  --color-bg: #092b2b;
  --color-border: #c59849;
  --color-accent: #2c0109;
  --color-gray: #474747;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: var(--line-height);
  color: var(--color-text);
  background: var(--color-bg);
}
