<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {{ if .IsHome }}
      {{ site.Title }}
    {{ else }}
      {{ .Title }} · {{ site.Title }}
    {{ end }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.Params.description }}">

  {{ $css := slice
      (resources.Get "css/variables.css")
      (resources.Get "css/layout.css")
      (resources.Get "css/typography.css")
      (resources.Get "css/content.css")
      (resources.Get "css/project.css")
      (resources.Get "css/home.css")
      (resources.Get "css/single.css")
    | resources.Concat "css/main.css" | minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

</head>
<body>

  <header>
    <div class="WIP">
    <p>This site is a work in progress. Check back soon for progress, or follow along on <a href="https://github.com/jason-burg/burgDesigns">GitHub</a>!</p>
    </div>
    <div class="site-header">
    <div class="logo-section">
      <div class="logo-icon">
        <img src="{{ "images/logo.jpg" | relURL }}" alt="Burg Designs Logo">
      </div>
      <div class="logo-text">
        <h1 href="{{ "/" | relURL }}" class="logo">{{ site.Title }}</h1>
      </div>
    </div>
    <div class="nav">
      <a href="{{ "/" | relURL }}">Home</a>
      <a href="{{ "/projects/" | relURL }}">Projects</a>
      <a href="{{ "/about/" | relURL }}">About</a>
      <a href="{{ "/contact/" | relURL }}">Contact</a>
    </div>
    </div>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <p>© {{ now.Year }} Burg Designs</p>
  </footer>

</body>
</html>
